:host {
  display: block;
  min-width: 800px;
}

.app-header {
  background: var(--color-white);

  &__content {
    box-sizing: border-box;
    width: calc(100% - (var(--app-gutter) * 2));
    min-width: calc(800px - (var(--app-gutter) * 2));
    margin: 0 auto;
    padding-top: 20px;
  }

  &__logo {
    display: block;
    width: 81px;
    height: auto;
  }
}
